// https://fonts.google.com/specimen/Ubuntu
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: local("Ubuntu Light"), url("../assets/fonts/ubuntu/ubuntu-v20-latin-300.woff2") format("woff2"),
    url("../assets/fonts/ubuntu/ubuntu-v20-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  src: local("Ubuntu Light Italic"), url("../assets/fonts/ubuntu/ubuntu-v20-latin-300italic.woff2") format("woff2"),
    url("../assets/fonts/ubuntu/ubuntu-v20-latin-300italic.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url("../assets/fonts/ubuntu/ubuntu-v20-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/ubuntu/ubuntu-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: local("Ubuntu Italic"), url("../assets/fonts/ubuntu/ubuntu-v20-latin-italic.woff2") format("woff2"),
    url("../assets/fonts/ubuntu/ubuntu-v20-latin-italic.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), url("../assets/fonts/ubuntu/ubuntu-v20-latin-500.woff2") format("woff2"),
    url("../assets/fonts/ubuntu/ubuntu-v20-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 500;
  src: local("Ubuntu Medium Italic"), url("../assets/fonts/ubuntu/ubuntu-v20-latin-500italic.woff2") format("woff2"),
    url("../assets/fonts/ubuntu/ubuntu-v20-latin-500italic.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), url("../assets/fonts/ubuntu/ubuntu-v20-latin-700.woff2") format("woff2"),
    url("../assets/fonts/ubuntu/ubuntu-v20-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: local("Ubuntu Bold Italic"), url("../assets/fonts/ubuntu/ubuntu-v20-latin-700italic.woff2") format("woff2"),
    url("../assets/fonts/ubuntu/ubuntu-v20-latin-700italic.woff") format("woff");
}

// CMG Sans
@font-face {
  font-family: "CMG Sans";
  font-style: normal;
  font-weight: 500;
  src: local("CMG Sans Medium Condensed CAPS"), url("../assets/fonts/cmg-sans/CMGSans-MediumCnCAPS.woff2") format("woff2"),
    url("../assets/fonts/cmg-sans/CMGSans-MediumCnCAPS.woff") format("woff");
}

@font-face {
  font-family: "CMG Sans";
  font-style: normal;
  font-weight: 700;
  src: local("CMG Sans Bold Condensed CAPS"), url("../assets/fonts/cmg-sans/CMGSans-BoldCnCAPS.woff2") format("woff2"),
    url("../assets/fonts/cmg-sans/CMGSans-BoldCnCAPS.woff") format("woff");
}

// Global styles
sup {
  font-size: 0.8em;
  opacity: 0.6;
}

[class*="output"] sup {
  vertical-align: top;
}

[class*="layout-column"] {
  height: calc(100vh - 50px);
  display:flex;
  flex-direction:column;
}

[class*="layout-column-content"] {
  overflow-y:auto;
  flex:1;
}

.arrowKey {
  border-top-style: outset;
  border-top-width: 1px;
}
.arrowKeyActive {
  border-color: $secondary;  
}

.body--light {
  .bg-subtoolbar {
    background: $grey-3 !important; // bg-grey-3
  }
  .text-subtoolbar {
    color: var(--q-dark) !important; // text-dark
  }
  .bg-active {
    background: $purple-1 !important; // bg-purple-1
  }
  .algolia-database-label {
    color: #003DFF;
  }
}

.body--dark {
  .bg-subtoolbar {
    background: rgb(49, 49, 49);
  }
  .text-subtoolbar {
    color: $grey !important;
  }
  .bg-active {
    background: var(--q-secondary) !important; // bg-secondary
    color: white;
  }
  .algolia-database-label {
    color: white;
  }
}
